app/build
*.class
android/SmartfanControl/app/build
*.bak
*.kicad_pcb-bak
app/.vscode/browse.vc.db
app/.vscode/browse.vc.db-shm
app/.vscode/browse.vc.db-wal
app/.vscode/ipch
hw/*rescue*
hw/*.bak
hw/*.bck
