{% extends "base.html" %}
{% block title %}Smart Fan Control{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    var statusTopic = "smartfan/status";
    var speedTopic = "smartfan/speed";
    var queryTopic = "smartfan/query";
    var data = '{"topic": "' + statusTopic + '" }';
    socket.emit('subscribe', data=data);
    
    data = '{"topic": "' + queryTopic + '", "message": "1", "qos": 0}';
    socket.emit('publish', data=data);
    
    $('#off-button').click(function(event) {
      var data = '{"topic": "' + speedTopic + '", "message": "0", "qos": 0}';
      socket.emit('publish', data=data);
    });
    $('#low-button').click(function(event) {
      var data = '{"topic": "' + speedTopic + '", "message": "1", "qos": 0}';
      socket.emit('publish', data=data);
    });
    $('#med-button').click(function(event) {
      var data = '{"topic": "' + speedTopic + '", "message": "2", "qos": 0}';
      socket.emit('publish', data=data);
    });
    $('#hi-button').click(function(event) {
      var data = '{"topic": "' + speedTopic + '", "message": "3", "qos": 0}';
      socket.emit('publish', data=data);
    });
    socket.on('mqtt_message', function(data) {
      console.log(data);
      var text = '(' + data['topic'] + ' qos: ' + data['qos'] + ') ' + data['payload'];
      var $statusLabel = $('#status');
      $statusLabel.html('Fan speed: ' + data['payload']);
    })
  });
</script>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-xl mx-auto">
      <h3 id="status" class="text-center">Status</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xl">
      <button id="off-button" type="button" class="btn btn-secondary btn-lg btn-block">Off</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xl">
      <button id="low-button" type="button" class="btn btn-success btn-lg btn-block">Low</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xl">
      <button id="med-button" type="button" class="btn btn-warning btn-lg btn-block">Medium</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xl">
      <button id="hi-button" type="button" class="btn btn-danger btn-lg btn-block">High</button>
    </div>
  </div>
</div>
<!--
<div class="container-fluid w-75">
  <div class="row justify-content-center">
    <div class="col-xl justify-content-center">
      <h3>Smart Fan Control</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg">
      <label id="status">Status</label>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg">
      <div class="btn-group-vertical" role="group" aria-label="Fan Control">
        <button id="off-button" type="button" class="btn btn-secondary btn-lg btn-block">Off</button>
        <button id="low-button" type="button" class="btn btn-success btn-lg btn-block">Low</button>
        <button id="med-button" type="button" class="btn btn-warning btn-lg btn-block">Medium</button>
        <button id="hi-button" type="button" class="btn btn-danger btn-lg btn-block">High</button>
      </div>
    </div>
  </div>
</div>
-->
{% endblock %}
